<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Swift Tutorial</a>
            </div>
    
            <ul class="nav navbar-nav navbar-right">
        
                <li>
                    <a href="{% url 'event_create' %}" class="tutorial-link"><i class="fa fa-plus" aria-hidden="true"></i> Start Teaching!</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i>Notifications <span class="number">12</span></a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" type="button" id="user-profile" data-toggle="dropdown" aria-hashpop="true" aria-expanded="true">
                        <img src="">
                    </a>
            
                <li class="dropdown ">
                   <a href="#" class="dropdown-toggle" type="button" id="user-profile" data-toggle="dropdown" aria-hashpop="true" aria-expanded="true">
                        <img src="">
                    </a>
         
                    <ul class="dropdown-menu user-dropdown" aria-labelledby="user-profile">
                
                        <li>
                            <a href="" class="profile-link">

                                <h5></h5>
                                <h6>view profile</h6></a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a href="#"> Messages</a>
                        </li>
                        <li>
                            <a href="#"> Settings</a>
                        </li>
                        <li>
                            <a href="#"> My Tutorials</a>
                        </li>
                        <li>
                            <a href="#"> My Bookmarks</a>
                        </li>
                        <li>
                            <a href="" class="start-teaching">Start Teaching </a>
                            <img src="/static/images/surprise-icon.png'/">
                        </li>
                        <li class="divider" role="separator"></li>
                        <li><a href="">Log out</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>