body {}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: #fff;
    border: none;
    font-family: $Montserrat-Light;
    box-shadow: 2px 2px 2px #eeeeee;
    display: flex;
    align-items: center;
    height: 60px;
    .navbar-brand {
        color: #cf032b;
    }
    ul {
        list-style: none;
        li {
            float: left;
            a {
                display: block;
                color: #666;
                .number {
                    background: #a71212;
                    color: #fff;
                    border-radius: 30px;
                    padding: 6px 8px;
                    font-size: 12px;
                }
                img {
                    width: 40px;
                }
            }
            
        }
    }
}

.email-notification {
    width: 100%;
    .content {
        margin: 0;
    }
    a {
        color: #a94442;
        text-decoration: none;
    }
}

.affix {
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    transition: 0.5s;
    padding: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.affix-top {
    position: static;
    top: -50px;
}

.affix ~ .container-fluid {
    padding-top: 70px;
}
