.login-page {
    background: {
        image: url('../images/login-bg.jpg');
        size: cover;
    }
    .log-in {
        font-family: $Lato-Light;
        display: flex;
        height: 100vh;
        align-items: center;
        h1 {
            color: #fff;
            font-size: 3em;
        }
        p {
            color: #fff;
            font-size: 1.5em;
            margin: 40px 0;
        }
        input {
            background: none;
            border-radius: 10px;
            border: #fff solid 1.5px;
            padding: 20px;
            font-size: 1.2em;
            color: #fff;
            font-family: $Lato-Light;
            &:focus{
            	-webkit-box-shadow:none;
            }
        }
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
        }
        button {
            height: 45px;
            background: #055179;
            color: #fff;
            border-radius: 10px;
            border: solid #055179 2px;
            text-transform: uppercase;

            &:hover{
                border: solid #2d7aa3 2px;
            	background: #2d7aa3;
            	 transition: 1s;
            }
             &:focus{
            	-webkit-box-shadow:none;
            }
        }
        .login-links {
            a {
            	margin-top: 10px;
                color: #fff;
                text-decoration: none;
                
            }
            :first-child {
                float: left;
            }
            :last-child {
                float: right;
            }
        }
    }
}
.divider{
    border-left:solid 1px #666;
}