.profile-header-background {
    background: #fdfdfd;
    height: 160px;
    z-index: -1;
}

.cover-photo {
    height: 300px;
    background: {
        image: url("../images/cover.jpg");
        size: cover;
        position-y: -330px;
    }
}

.hire {
    .popover {
        width: 100%;
    }
}

.profile-header {
    display: flex;
    align-items: center;
    z-index: 9;
    margin-top: -180px;
    font-family: $Montserrat-Light;
    img {
        width: 100%;
        //  border-radius: 40px;
    }
    .username {
        font-size: 20px;
        color: #c1c1c1;
    }
    .profile-background {
        img {
            width: 200px;
            border-radius: 30px;
            padding: 15px;
            background: #fdfdfd;
        }
    }
    .quote {
        font-family: $Georgia-Regular;
        color: #999;
        font-size: 24px;
    }
    h3 {
        span {
            color: #999;
            font-size: 16px;
        }
    }
}

.profile-content {
    margin: 20px 0;
    background: #fdfdfd;
    border-radius: 5px;
    padding: 5% 7%;
    h4 {
        font-family: $Montserrat-Light;
    }
    p {
        font-family: $OpenSans-Regular;
        line-height: 150%;
        letter-spacing: 0.1px;
        margin: 20px 0;
    }
    table {
        tr {
            td {
                p {
                    margin: 0;
                }
                border: none;
            }
        }
    }
}

.profile-details {
    background: #fdfdfd;
    .nav-tabs {
        margin-left: 0;
        border: none;
        .tab-name {
            padding: 20px 20px 0;
            :first-child {
                margin-left: 50px;
            }
            a {
                color: #222;
            }
        }
    }
}

.btn-hire {
    width: 100%;
    background: #00bfa5;
    color: #fff;
    margin: 20px 0 0;
    &:hover {
        color: #fff;
        transition: 1s;
        background: #00bfa5;
    }
    &:focus {
        outline: none;
        background: #00bfa5;
    }
    &:active {
        color: #fff;
        transition: 1s;
        background: #00bfa5;
    }
    &:visited {
        color: #fff;
        transition: 1s;
        background: #00bfa5;
    }
}

.owl-carousel {
    margin: 20px 0;
    background: #fdfdfd;
    padding: 10px;
}

.portfolio {
    .video {
        display: inline-block;
        margin: 20px 0;
        .item {
            width: 220px;
            margin: 10px;
            float: left;
            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
            a {
                text-decoration: none;
                font-family: $Montserrat-Regular;
                color: #777;
                text-transform: uppercase;
                margin: 10px 0 0;
                line-height: 150%;
            }
        }
    }
    .modal {
        background: rgba(248, 248, 251, 0.9);
    }
    .modal-content {
        box-shadow: none;
        border: solid #c1c1c1 1px;
        .modal-header {
            border: none;
        }
        .modal-body {
            .form-control {
                -webkit-box-shadow: none;
                background: #fdfdfd;
                border-bottom: solid 1px #c1c1c1;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0px;
                padding: 0;
                margin: 20px 0;
                color: #303030;
                font-family: $Montserrat-SemiBold;
            }
            padding: 50px;
            .upload-file {
                width: 500px;
                height: 129px;
                border: 2px dashed #888;
                margin: 47px auto 0;
                p {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: #888;
                    font-family: Arial;
                    margin-top: 10%;
                }
                input {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    outline: none;
                    opacity: 0;
                }
            }
        }
        .modal-footer {
            border: none;
            .upload-btn {
                margin-right: 30px;
                background: #00bfa5;
                color: #fff;
                width: 150px;
                margin-bottom: 30px;
                margin-top: -15px;
                text-transform: uppercase;
            }
        }
    }
}

.feedback {
    .feedback-content {
        font-family: $Montserrat-Light;
        margin: 50px 0;
        line-height: 150%;
        border-bottom: #ebebeb solid 1px;
        &:last-child {
            border: none;
        }
        a {
            text-decoration: none;
        }
        .rating {
            color: #fdd835;
        }
    }
}

//edit profile
.profile-setting {
    background: #fdfdfd;
    .setting-container {
        padding: 2em;
    }
    .header {
        border-bottom: 1px #e1e1e1 solid;
        span{
            font-size: 1em;
             color: #999999;

        }
    }
       .sub-header {
       // border-top: 1px #e1e1e1 solid;
        span{
            font-size: 1em;
             color: #999999;

        }
    }
    .input {
        border-radius: 5px;
        border: solid 1px #c9c9c9;
        background: #fdfdfd;
        &:focus {
            box-shadow: none;
        }
    }
    .setting-content {
        margin-left: 10em;
        color: #666;
        margin-top: 1em;
    }
    .title {
        display: block;
        color: #666;
           font-family: $Montserrat-Light;
        p {
            display: block;
            float: left;
            width: 9em;
            text-align: right;
            margin-top: 0.2em;
            span {
                font-size: 0.9em;
                color: #999999;
            }
        }
    }
    .foot-note {
        margin: 1em;
        font-size: 0.9em;
        .available{
            text-align: right;
            color: #00a651;
        }
        .checkbox{

        }
    }
    .profile-picture{
        
        margin-top: 3em;
        width: 220px;
        img{
            width: 100%;
            border-radius: 5px;
        }
        .change-btn{
            background: #337ab7;
            color: #fff;
            margin-top: 1em;

        }
    }
}
