.signup-page {
    background: #fff;
    background-size: cover;
    .divider {
        border-left: solid 1px #666;
    }
    .signup {
        font-family: $Montserrat-Light;
        display: flex;
        height: 100vh;
        align-items: center;
        h1 {
            margin: 30px auto;
        }
        input {
            font-family: $Montserrat-Light;
            background: #fff;
            border-radius: 10px;
            border: #d7d7d7 solid 2px;
            padding: 20px;
            font-size: 1em;
            margin: 20px 0;
            border-shadow: none;
            -webkit-box-shadow: none;
            &:focus {
                -webkit-box-shadow: none;
            }
        }
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #a1a1a1;
        }
   
        .signup-btn {
            background: #055179;
        }
        .email-signup{
            background: none;
            color: #222;
            text-decoration: none;
             font-family: $Montserrat-Light;
            &:hover{
                background: none;
                color: #222;

            }
            &:focus{
                background: none;
                color: #222;
                border:none;
            }
            &:active{
                border:none;
                background: none;
                color: #222;
                border:none;
            }
            &.form-control{
                border-top: 1px solid #c9c9c9;
                border-bottom: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
                -webkit-box-shadow:none;
            }

        }
        button {
            font-family: $Lato-Regular;
            height: 45px;
            color: #fff;
            border-radius: 10px;
            border: none;
            text-transform: uppercase;
            margin: 10px 0;
            &:hover {
                background: #2d7aa3;
                transition: 1s;
            }
            &:focus {
                -webkit-box-shadow: none;
            }
        }
        .login-link {
            p {
                margin-top: 10px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.social-signup {
    .form-control{
        border: none;
    }
    div{
        padding: 0 5px;
    }
    a{  
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        margin: 5px 0;
        border-radius: 0;
        letter-spacing: 0.5px;
        line-height: 150%;

    }

    .facebook{
        background: #1a528b;

    }
    .google{
        background: #c44b36;
    }
    .twitter{
        background: #00abf1;
    }
    .linkedin{
        background: #0097bd;
    }
}
