$Lato-Thin:'Lato-Thin';
$Lato-Regular:'Lato-Regular';
$Lato-Light: 'Lato-Light';
$Montserrat-Light: 'Montserrat-Light';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$Montserrat-UltraLight: 'Montserrat-UltraLight';
$Hairline: 'Hairline';