$Lato-Thin:'Lato-Thin','sans-serif';
$Lato-Regular:'Lato-Regular','sans-serif';
$Lato-Light: 'Lato-Light','sans-serif';
$Lato-LightItalic: 'Lato-LightItalic';
$Montserrat-Light: 'Montserrat-Light','sans-serif';
$Montserrat-Regular: 'Montserrat-Regular','sans-serif';
$Montserrat-SemiBold: 'Montserrat-SemiBold', 'sans-serif';
$Montserrat-UltraLight: 'Montserrat-UltraLight', 'sans-serif';
$OpenSans-Light: 'OpenSans-Light', 'sans-serif';
$OpenSans-Regular: 'OpenSans-Regular','sans-serif';
$Georgia-Regular: 'Georgia-Regular';
$FabfeltScript: 'FabfeltScript';