.create-event {
    background: #fdfdfd;
    padding: 5%;
    border: 1px solid #efefef;
    .event-quote {
        margin-bottom: 50px;
    }
    .form-control {
        -webkit-box-shadow: none;
        background: #fdfdfd;
        border-bottom: solid 1px #c1c1c1;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        padding: 0;
        margin: 20px 0;
        color: #303030;
        font-family: $Montserrat-SemiBold;
        &.event-title {
            font-size: 26px;
        }
        &.desc-header {
            font-size: 20px;
        }
        &.price {
            padding: 26px 0;
        }
        &.category {
            font-family: $Lato-Regular;
            border-right: none;
            margin: 0;
        }
        &.url {
            border-top: none;
            border-left: none;
            border-radius: 0px;
            border-right: none;
            margin: 0;
            font-family: $Lato-Regular;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #c1c1c1;
        }
    }
    button {
        margin-top: 20px;
    }
    .category-btn {
        background: none;
        border-right: none;
        border-top: none;
        border-bottom-right-radius: 0px;
    }
    .url-btn {
        background: none;
        border: none;
        a {
            color: #0288d1;
            text-decoration: none;
        }
    }
    .email-update {
        margin-top: 30px;
        color: #0288d1;
    }
    .create-btn {
        background: #0288d1;
        color: #fff;
        border: none;
        height: 40px;
        &:hover {
            background: #0b75af;
            transition: 1s;
        }
    }
}
