{% extends 'base.html'%}
{% block content %}
<div class="row dashboard">
    {% include 'includes/user_details.html' %}
    
    <div class="col-md-6 col-lg-6 tutorial-feed">
        <div class="row feed-header ">
            <div class="col-md-12 col-lg-12">
                <form id="search-form" >
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                        <input type="text" id="search" autocomplete="off" class="form-control" placeholder="Search a tutorial">
                    </div>
                </form>
            </div>
        </div>
        <div class="item-container">

        </div>
    </div>
    {% include 'includes/recent_activities.html' %}
</div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $.endlessPaginate({
            paginateOnScroll: true
        });
    </script>
{% endblock %}
