{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-6 col-lg-6 tutorial-feed">
    <div class="row feed-header ">
        <div class="col-md-12 col-lg-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                    <input type="text" name="search" class="form-control" placeholder="Search a tutorial">
                </div>
            </form>
        </div>
        <div class=" col-md-12 col-lg-12 ">
            <ul>
                <li class="pull-left">
                    <h3>Preferred Tutorials</h3>
                </li>
                <li class="feed-options">
                    <ul>
                     <!--    <li>
                            <div class="dropdown">
                                <button class="dropdown-toggle btn btn-default filter-style" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="filter">
                                    <li >
                                        <a href="#">Filter by Tutor</a>
                                    </li>
                                    <li>
                                      <a href="#"> Filter by Tutorial</a>
                                       
                                    </li>
                                </ul>
                            </div>
                        </li> -->
                        <li>
                            <div class="dropdown">
                                <button class="dropdown-toggle  btn btn-default filter-style" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="sort">
                                    <li>
                                      <a href="#">Sort Ascending</a>
                                    </li>
                                    <li>
                                        <a href="#"> Sort Descending</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-container">
        <div class="row items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/django.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Python Django</a>
                </h3>
                <p>
                    Django is a high-level Python Web framework that encourages rapiddevelopment and clean, pragmatic design.
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/node.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Node JS</a>
                </h3>
                <p>
                    Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it ...
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/sass.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Sass</a>
                </h3>
                <p>
                    Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/oracle.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Oracle</a>
                </h3>
                <p>
                    Oracle has products and solutions for every role in the enterprise
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/less.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Less</a>
                </h3>
                <p>
                    Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions and many othe...
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/css3.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Css3</a>
                </h3>
                <p>
                    Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in ...
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/html.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">html5</a>
                </h3>
                <p>
                    HTML is a markup language for describing web documents (web pages). HTML stands for Hyper Text Markup Language. A markup language is a set of markup tags. HTML ...
                </p>
            </div>
        </div>
        <div class="row preferred-items ">
            <div class="col-md-2 col-lg-2">
                <img src="{% static 'images/android.png' %}">
            </div>
            <div class="col-md-10 col-lg-10 tutorial-detail">
                <h3>
                    <a href="#">Android</a>
                </h3>
                <p>
                    Official site provides information for users, developers and partners. Includes press releases, videos, screenshots and downloads.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}