{% extends 'base.html'%}
{% block content %}
{% load staticfiles profile profile_completion %}
    <div class="page">
        <div class="container">
            <div class="row dashboard">
               {% include 'includes/edit_profile.html' %}
                </div>
                <div class="col-md-9 profile-setting tab-content">
                    <div class="tab-pane active" id="profile">
                        <div class="header">
                            <h3>
                        Profile
                    </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="setting-container">
                                    <div class="form">
                                        <form method="post" id="form_profile" >
                                        {% csrf_token %}
                                        <input type="hidden" name="form_identity" value="edit_profile">

                                        <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Overview
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.overview.errors.as_text }}
                                                    {{ form.overview }}
                                                    <div class="foot-note">
                                                        <p>
                                                            Please provide a brief overview of yourself and tutorials.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        First
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.first_name.errors.as_text }}
                                                    {{ form.first_name }}
                                                    <div class="foot-note">
                                                        <p>
                                                            <strong>Reminder:</strong> Please provide a name appropriate for your audience.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title text-right">
                                                    <p>
                                                        Middle <span>(optional)</span>
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.middle_name.errors.as_text }}
                                                    {{ form.middle_name }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title text-right">
                                                    <p>
                                                        Last
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.last_name.errors.as_text }}
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Primary skill
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.primary_expertise.errors.as_text }}
                                                    {{ form.primary_expertise }}
                                                    <div class="foot-note">
                                                        <p>
                                                            <strong>Reminder:</strong> Provice us other skills you're good at. Please take note of your audience <a href="#">preferrence</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Other skills
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.expertise.errors.as_text }}
                                                    {{ form.expertise }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Country
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                  {{ form.country.errors.as_text }}
                                                  {{ form.country }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Phone number
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.phone.errors.as_text }}
                                                    {{ form.phone }}
                                                    <div class="foot-note">
                                                        <p>
                                                            This number is used for account recovery incase your e-mail is not available.
                                                        </p>
                                                        <div class="checkbox">
                                                            <p>
                                                                <input type="checkbox" value="">Display this to my profile</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        City
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.city.errors.as_text }}
                                                    {{ form.city }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Timezone
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.timezone.errors.as_text }}
                                                    {{ form.timezone }}
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="sub-header">
                                    <h3>
                            Education
                        </h3>
                                </div>
                                <div class="setting-container">
                                    <div class="form">
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        School
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    {{ form.school.errors.as_text }}
                                                    {{ form.school }}
                                                    <div class="foot-note">
                                                        <p>
                                                            Please provide the school where you last graduated or attended.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Dates attended
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    <div class="">
                                                        <div class="col-md-6">
                                                            {{ form.date_attended_fr.errors.as_text }}
                                                            {{ form.date_attended_fr }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form.date_attended_to.errors.as_text }}
                                                            {{ form.date_attended_to }}
                                                            <div class="foot-note">
                                                                <p>
                                                                    (or year expected to graduate)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="sub-header">
                                    <h3>
                            Miscellaneous <span>(optional)</span>
                        </h3>
                                </div>
                                <div class="setting-container">
                                    <div class="setting-section">
                                        <div class="title ">
                                            <p>
                                                Company
                                            </p>
                                        </div>
                                        <div class="setting-content">
                                           {{ form.company.errors.as_text}}
                                           {{ form.company }}
                                            <div class="foot-note">
                                                <div class="checkbox">
                                                    <p>
                                                        <input type="checkbox" value="">Display this to my profile</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="setting-section">
                                        <div class="title ">
                                            <p>
                                                Personal website
                                            </p>
                                        </div>
                                        <div class="setting-content">
                                           {{ form.personal_website.errors.as_text }}
                                           {{ form.personal_website }}
                                            <div class="foot-note">
                                                <div class="checkbox">
                                                    <p>
                                                        <input type="checkbox" value="">Display this to my profile</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="setting-section">
                                        <div class="title ">
                                            <p>
                                                Social accounts
                                            </p>
                                        </div>
                                        <div class="setting-content">
                                            <a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="save-btn text-center">
                                        <button type="submit" class="btn btn-profile">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                            </div> 
                            <div class="col-md-4">
                                <div class="profile-picture">
                                    <img src="{{ user.profile_picture|get_image_url }}">
                                    <div class="dropdown">
                                        <button class="btn form-control profile-btn dropdown-toggle" id="change-picture" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Change
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="change-picture">
                                            <li>
                                                <a href="#update_photo" data-toggle="modal">Upload photo</a>
                                            </li>
                                            <li>
                                                <a href="#remove" data-toggle="modal">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="account">
                        <div class="header">
                            <h3>
                        Account
                    </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="setting-container">
                                    <div class="form">
                                     <div  id="success" role='alert' class="error"></div>
                                        <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_identity" value="edit_account">
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Primary email
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                   {{ form2.email.errors.as_text }}
                                                   {{ form2.email }}
                                                    <div class="foot-note">
                                                        <p>
                                                            Reminder: Please provide a valid email address
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Secondary email <span>(optional)</span>
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                   {{ form2.secondary_eamil.errors.as_text }}
                                                   {{ form2.secondary_email }}
                                                    <div class="foot-note">
                                                        <p>
                                                            The address is used to contact you incase you lost your access to your primary e-mail
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title text-right">
                                                    <p>
                                                        Password
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    <a href="#changes-password" data-toggle="modal">Change Password</a>
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Language
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                   {{ form2.language.errors.as_text }}
                                                   {{ form2.language }}
                                                </div>
                                            </div>
                                            <div class="setting-section">
                                                <div class="title ">
                                                    <p>
                                                        Deactivate
                                                    </p>
                                                </div>
                                                <div class="setting-content">
                                                    <div class="foot-note">
                                                        <p>
                                                            Deactivating your account disables other people to view your account <a href="#" class="danger">Deactivate your account</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                 <div class="save-btn text-center">
                                        <button class="btn">Save Changes</button>
                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="billing">
                        <div class="header">
                            <h3>
                                Billing
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="setting-container">
                                    <div class="current-credit">
                                        <p>
                                            Current credit
                                        </p>
                                        <h1 class="text-right">
                                            <strong>$ {{ user.credits }}</strong>
                                        </h1>
                                        <button class="btn form-control profile-btn" data-toggle="modal" data-target="#buy-credit"> Buy More Credits</button>
                                        <!-- Modal -->
                                        <div class="modal  fade" id="buy-credit" tabindex="-1" role="dialog" aria-labelledby="buy-credit">
                                            <div class="modal-dialog paypal-container" role="document">
                                                <div class="modal-content paypal">
                                                    <div class="modal-header">
                                                        <img src="{% static 'images/paypal.png' %}">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body ">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p class="paypal-text">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ligula dignissim ipsum.
                                                                </p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p><strong>Amount</strong></p>
                                                                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                                                    {% csrf_token %}
                                                                    {{ form_paypal }}
                                                                    <input id="id_amount" name="amount" type="text" class="input form-control" placeholder="0.00">
                                                                    <button type="submit" class="btn profile-btn paypal-btn">Pay with <img src="{% static 'images/paypal-white.png' %}"></button>
                                                                </form>
                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-md-offset-1 transaction">
                                <div class="sub-header">
                                    <h3>Transaction History</h3>
                                </div>
                                <div class="setting-container history-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        {% for transaction in transactions %}
                                        <tbody>
                                            <tr>
                                                <td>{{ transaction.date_created }}</td>
                                                <td>{{ transaction.description }} </td>
                                                <td>${{ transaction.amount }} </td>
                                                <td><a href="#">View Invoice</a></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="changes-password" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="password-changes" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Change password</h4>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <form method="post" id="form_password_change" action="{% url 'edit_profile' %}">
              {% csrf_token %}
                <input type="hidden" name="form_identity" value="edit_password">
                <div class="input-group">
                <div  id="password_error" role='alert' class="error"></div>
                   {{ form3.password }}
                </div>
                 <div class="input-group">
                <div  id="new_password_error" role='alert' class="error"></div>
                    {{ form3.new_password }}
                </div>
                <div class="input-group">
                <div  id="password_confirmation_error" role='alert' class="error"></div>
                    {{ form3.password_confirmation }}
                </div>
                <div class="input-group">
                   <button type="button" class="btn btn-primary btn-block" id="btn-change-password">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- modal for uploading profile picture  -->
<div id="update_photo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Profile Picture</h4>
      </div>
      <div class="modal-body">
            
        <form action="{% url 'edit_profile' %}"  class="dropzone"  id="my-awesome-dropzone" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        
          <div class="fallback">
            <input name="profile_picture" type="file" required />
          </div>
           <input type="hidden" name="form_identity" value="upload">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- modal for removing profile images -->
<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Are you sure? Do you want to remove?</h4>
      </div>
      <div class="modal-body">
     <div class="row">
       <div class="col-md-6">
         <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" >No</button>
       </div>
        <div class="col-md-6">
         <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" >
         {% csrf_token %}
            <input type="hidden" name="form_identity" value="remove" >
            <button type="submit" class="btn btn-danger btn-block">Yes</button>
        </form>
       </div>
     </div>
     </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
 $(function(){
 {% if form_script == 'edit_account' %}
     var tab_a = $('a[href="#account"]');
     tab_a.tab('show');
     $('#setting-nav a').removeClass('active');
     tab_a.addClass('active');
{% endif %}
});
  
Dropzone.options.myAwesomeDropzone = {
  paramName: "profile_picture",
  maxFilesize: 3, // MB
  maxFiles: 1, // number of uplaod
  acceptedFiles: 'image/*',
  accept: function(file, done) {

   done();
    },
  addRemoveLinks: true,
    removedfile: function(file) {
    var _ref; 
    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    },
};
</script>

{% endblock %}
