{% load staticfiles notifications %}
{% load el_pagination_tags %}
{% paginate 10 feed %}
   {% for item in feed %}
            <div class="row items ">
                <div class="col-md-3 col-lg-3 text-center item-picture">
                    <img src="{% static 'images/sass.png' %}">
                    <a href="{% url 'event' item.id %}"> View</a>
                    <h5 class="going-count">
                       <i class="fa fa-check" aria-hidden="true"></i> {{ item.get_participants|length }} Going

                    </h5>
                </div>
                <div class="col-md-9 col-lg-9 item-details">
                    <div class="bookmarked">
                        {# <a href="#" class="pull-right "> #}
                            {% if item.bookmarked %}
                                <a
                                    href="{% url 'bookmark_remove' item.id item.bookmark.id %}"
                                    class="bookmark-link pull-right">
                                    <i
                                        class="fa fa-bookmark bookmark-event-icon"
                                        aria-hidden="true"></i>
                                </a>
                            {% else %}
                                <a
                                    href="{% url 'bookmark_list' item.id %}"
                                    class="bookmark-link pull-right">
                                    <i
                                        class="fa fa-bookmark-o bookmark-event-icon-o"
                                        aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        {# </a> #}
                    </div>
                    <h3 class="title">
                        <a href="#">{{ item.title }}</a>
                    </h3>
                    <h5 class="date">

                        {{ item.start_date|date:"D, jS M" }} {{ item.start_time|time:"h:i A" }}

                    </h5>
                    <h6 class="catergory">
                        <a href="#">{{ item.tags.all|join:", " }}</a>
                    </h6>
                    <p class="details">
                        {{ item.info|truncatewords:28 }}
                    </p>
                    <div class="tutor">
                        <h6>
                        <a href="{% url 'profile' item.educator.id %}">{{ item.educator.get_full_name }}</a> - {{ item.educator.city }}, {{ item.educator.country }}  <a href="#">{{ item.date_created|timesince|single_timetag }} ago</a>
                    </h6>
                    </div>
                </div>
            </div>
     {% endfor %}
{% show_more "More results" %} 