{% load staticfiles notifications %}
{% load el_pagination_tags %}
{% paginate 10 feed %}
   {% for item in feed %}
            <div class="row items ">
                <div class="col-md-3 col-lg-3 text-center item-picture">
                    <img src="{% static 'images/sass.png' %}">
                    <a href="{% url 'event' item.id %}"> View</a>
                    <h5 class="going-count">
                       <i class="fa fa-check" aria-hidden="true"></i> 99 Going
                    </h5>
                </div>
                <div class="col-md-9 col-lg-9 item-details">
                    <h3 class="title">
                        <a href="#">{{ item.title }}</a>
                    </h3>
                    <h5 class="date">
                        Wed, 27th Jul 02:00 AM
                        {{ item. }}
                    </h5>
                    <h6 class="catergory">
                        <a href="#">{{ item.tags.all|join:", " }}</a>
                    </h6>
                    <p class="details">
                        {{ item.info|truncatewords:28 }}
                    </p>
                    <div class="tutor">
                        <h6>
                        <a href="{% url 'profile' item.educator.id %}">{{ item.educator.get_full_name }}</a> - {{ item.educator.city }}, {{ item.educator.country }}  <a href="#">{{ item.date_created|timesince|single_timetag }} ago</a>
                    </h6>
                    </div>
                </div>
            </div>
     {% endfor %}
{% show_more "More results" %} 