{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="signup-page">
        <div class="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <h1 class="text-center">
                        Password Reset
                        </h1>
                        <div class="login-link">
                            
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}                       
                                {% endif %}
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <div class="form-group" id="email_group">
                                        {{ form.email }}
                                    </div>
                                    <button type="submit" class="btn signup-btn form-control" id="signup-btn">submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</html>