{% extends 'base.html' %}
{% load staticfiles profile %}
{% load tz %}

{% block profile_header %}
{% if user == profile %}
<div class="cover-photo cover-container">
    <img class="cover-img" id="img" src="{{ profile.cover_photo|get_cover_url }}" >
    <div class="edit-coverphoto pull-right ">
     <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data" >
     {% csrf_token %}

        <input type="file" id="upload" name="cover_photo" accept="image/*" onchange="readURL(this);" style="visibility: hidden;"/>

        <input type="hidden" name="cover_photo_position" id="cover_position" value="{{ user.cover_photo_position }}px">
        <input type="hidden" name="form_identity" value="cover_photo">

        <button type="button" onclick="window.location.reload();" class="btn btn-danger hidden" id="btn-cancel">cancel</button>
        <button type="submit" class="btn btn-warning hidden" id="btn-upload">Save</button>
        
     </form>
        {% if not profile.cover_photo %}
            <a id="uploading" href="" onclick="document.getElementById('upload').click(); return false" class="hvr-bubble-float-right">
                <i class="fa fa-camera" aria-hidden="true"></i> 
                Upload Cover Photo
            </a>
        {% else %}
            <a id="uploading" href="" onclick="document.getElementById('upload').click(); return false" class="hvr-bubble-float-right">
                <i class="fa fa-camera" aria-hidden="true"></i> 
                Upload Cover Photo
            </a>
            <a id="reposition" href="#cover_photo" class="hvr-bubble-float-right" data-toggle="modal">
               <i class="fa fa-arrows" aria-hidden="true"></i>
                Reposition
            </a>
            
           
            <a id="remove" href="#remove_modal" class="hvr-bubble-float-right" data-toggle="modal">
               <i class="fa fa-times" aria-hidden="true"></i>
                Remove cover photo
            </a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="cover-photo">

</div>
{% endif %}
<div class="profile-header-background">
</div>
{% endblock %}

{% block content %}
<div class="row  profile-header">
    <div class="col-lg-3 text-center">
        <div class="profile-background">
            <img src="{{ profile.profile_picture|get_image_url }}" class="img-rounded">
        </div>
    </div>
    <div class="col-lg-9 ">
        <h1>{{ profile.get_full_name|title }}</h1>
        {% if not profile.city %}
                <h3></h3>
                {% else %}
                <h3>
                 <span> {{ profile.city }}, {{ profile.country }} ({{ profile.timezone }}) </span> 
                </h3>
        {% endif %}
        {% if not profile.quote %}
             <p>
             </p>
        {% else %}
            <p>
                <span class="quote">"</span>{{ profile.quote }}<span  class="quote">"</span>
            </p>
        {% endif %}
    </div>
    {% if not user == profile %}
    <div class="">
        {% if user in profile.subscribers.all %}
        <a href="{% url 'unsubscribe' profile.id %}"><button class="btn btn-subscribe" type="button">Unsubscribe | {{ profile.subscribers.all.count }}</button></a>
        {% else %}
        <a href="{% url 'subscribe' profile.id %}"><button class="btn btn-subscribe" type="button">Subscribe | {{ profile.subscribers.all.count }}</button></a>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-3">
    {% if user == profile %}
    <div class="hire">
        <a href="{% url 'edit_profile' %}" class="btn edit-profile-btn">EDIT PROFILE</a>
    </div>
    {% else %}
        <div class="">
            <button class="btn btn-hire" type="button" data-toggle="popover" data-content='<div class="container-fluid">
            <form class="form-group ">
                <label for="message">Message</label>
                <textarea class="form-control" placeholder="message" cols="4"  id="message"></textarea>
                <label for="schedule">Book a schedule</label>
                <input type="date" name="schedule" id="schedule" class="form-control">
                <label for="tracker-type">How would you like to pay?</label>
                <div class="row">
                    <div class="col-lg-7">
                        <select class="form-control" id="tracker-type">
                            <option>Hourly</option>
                            <option>Fixed Rate</option>
                        </select>
                    </div>
                    <div class="col-lg-5 input-fixed">
                    <input type="number" name="budget" class="form-control hidden " placeholder="$">
                    </div>
                </div>
            </form>
            <button class="btn btn-success">
                SEND INVITE
            </button>
            </div>'>HIRE AS TUTOR</button>
        </div>
    {% endif %}
        <div class="owl-carousel ">
            {% for badge in profile.badges.all %}
            <div> <img src="{{ badge.icon.url }}"> </div>
            {% endfor %}
        </div>
        {% include 'includes/profile_progress.html' %}
    </div>
    <div class="col-lg-9 ">
        <div class="profile-content">
            <h4>OVERVIEW</h4>
            {% if not profile.overview %}
                <div class="overview-content">
                    
                </div>
            {% else %}
                <div class="overview-content">
                    {{ profile.overview }}
                </div>
            {% endif %}
        </div>
        <div class="profile-content">
            <h4>ABOUT {{ profile.first_name|upper }}</h4>
            <table class="table">
                <tr>
                    <td>
                        Other skills
                    </td>
                    <td>
                        <div>
                            {% for skill in profile.expertise.all %}{{ skill }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    {% with profile.education_set.all.first as education %}
                    <td>
                        Education
                    </td>
                    <td>
                        {{ education.degree }} | {{ education.school }} ({{ education.date_attended_to|date:"Y" }})
                    </td>
                    {% endwith %}
                </tr>
                <tr>
                    <td>
                        Social networks
                    </td>
                    <td>
                        <a href="#">Facebook</a>,
                        <a href="#">Google</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="profile-content portfolio">
            <h4>
              <i class="fa fa-video-camera" aria-hidden="true"></i>  PUBLISHED TUTORIALS
            </h4>
            <div class="video">
                <div class="item">
                    <img src="{% static 'images/img7.jpg' %}">
                    <a href="">how to play a guitar</a>
                </div>
                <div class="item">
                    <img src="{% static 'images/img8.jpg' %}">
                    <a href="">how to sing</a>
                </div>
                <div class="item">
                    <img src="{% static 'images/img9.jpg' %}">
                    <a href="">how to play  drums in 5 minutes</a>
                </div>
                <div class="item">
                    <img src="{% static 'images/img10.jpg' %}">
                    <a href="">how to play a piano</a>
                </div>
                <div class="item">
                    <img src="{% static 'images/img11.jpg' %}">
                    <a href="">how to play a video game at home</a>
                </div>
                <div class="item">
                    <img src="{% static 'images/img12.jpg' %}">
                    <a href="">how to play drums </a>
                </div>
            </div>
        </div>
        <div class="profile-content feedback">
            <h4>
               <i class="fa fa-comment" aria-hidden="true"></i> TUTORIAL FEEDBACK
            </h4>
        <!-- list of feedback -->
        {% for event in events %}        
            {% for feed in feeds %}
                {% if feed.event_title == event %}
                    <div class="feedback-content">
                        <h3>
                            <a href="#">{{feed.event_title}}</a>
                        </h3>
                        <h6>
                            {{ feed.feed_date | date }}
                       </h6>
                        <div class="rating">
                             <!-- rating stars -->
                            {% include 'accounts/rating_star.html' %} 
                        </div>
                        <h4> <a href="#">{{ feed.user.get_full_name }}</a></h4>
                        <p>
                            {{ feed.feedback }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <!--  -->
        </div>
    </div>
</div>

<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Are you sure? Do you want to remove?</h4>
      </div>
      <div class="modal-body">
     <div class="row">
       <div class="col-md-6">
         <button type="button" class="btn btn-warning btn-block" data-dismiss="modal" >No</button>
       </div>
        <div class="col-md-6">
         <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" >
         {% csrf_token %}
            <input type="hidden" name="form_identity" value="removecover" >
            <button type="submit" class="btn btn-danger btn-block">Yes</button>
        </form>
       </div>
     </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}