{% extends 'base.html'%}
{% block content %}
            <div class="row">

                <div class= "options">
                 <div class="option-header">
                 {% if user.user_type == student %}
                    <h2>Tell us what you want to learn</h2>
                 {% else %}
                    <h2>Tells us what you want to teach</h2>
                 {% endif %}    
                 </div>
                 <form method="post">
                 {% csrf_token %}
                    <div class="options-container">
                    <b>{{ message }}</b>
                        <select multiple="multiple" name="category" class="image-picker show-labels  show-html">
                    {% for image in images %}
                        <option data-img-src="{{ image.logo.url }}" value="{{ image.id }}">{{ image.name }}</option>
                    {% endfor %}  

                    </select>
                    </div>
                   <div class=" option-footer text-right">
                     <button type="submit" class="btn btn-success">Next</button>
                   </div>
                 </form>
                </div>
            </div>
{% endblock %}
