{% load staticfiles %}

<div class="col-md-3 col-lg-3 recent-activities">
    <h4 class="column-header">
        RECENT ACTIVITIES
    </h4>
    <div class="row activity-item">
        <div class="col-lg-3">
            <img src="{% static 'images/img1.jpg' %}" class="img-rounded">
        </div>
        <div class="col-lg-9 activity-details">
            <a href="#" class="name">Sarah Jackson</a> <a href="" class="pull-right time">9 mins ago</a>
            <p>
                Praesent vestibulum eff icitur portt itorurabitur lobortis.
            </p>
        </div>
    </div>
    <div class="row activity-item">
        <div class="col-lg-3">
            <img src="{% static 'images/img1.jpg' %}" class="img-rounded">
        </div>
        <div class="col-lg-9 activity-details">
            <a href="#" class="name">Sarah Jackson</a> <a href="" class="pull-right time">9 mins ago</a>
            <p>
                Praesent vestibulum eff icitur portt itorurabitur lobortis.
            </p>
        </div>
    </div>
    <div class="row activity-item">
        <div class="col-lg-3">
            <img src="{% static 'images/img1.jpg' %}" class="img-rounded">
        </div>
        <div class="col-lg-9 activity-details">
            <a href="#" class="name">Sarah Jackson</a> <a href="" class="pull-right time">9 mins ago</a>
            <p>
                Praesent vestibulum eff icitur portt itorurabitur lobortis.
            </p>
        </div>
    </div>
    <div class="row activity-item">
        <div class="col-lg-3">
            <img src="{% static 'images/img1.jpg' %}" class="img-rounded">
        </div>
        <div class="col-lg-9 activity-details">
            <a href="#" class="name">Sarah Jackson</a> <a href="" class="pull-right time">9 mins ago</a>
            <p>
                Praesent vestibulum eff icitur portt itorurabitur lobortis.
            </p>
        </div>
    </div>
    <div class="row activity-item">
        <div class="col-lg-3">
            <img src="{% static 'images/img1.jpg' %}" class="img-rounded">
        </div>
        <div class="col-lg-9 activity-details">
            <a href="#" class="name">Sarah Jackson</a> <a href="" class="pull-right time">9 mins ago</a>
            <p>
                Praesent vestibulum eff icitur portt itorurabitur lobortis.
            </p>
        </div>
    </div>
</div>