 {% load staticfiles profile profile_completion %}
 <div class="row">
        <div class="col-lg-12 feeds ">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> My Feeds</a>
                </li>
                <li>
                    <a href="{% url 'bookmarks' %}"><i class="fa fa-bookmark-o" aria-hidden="true"></i> My Bookmarks</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> My Trends</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-12 recent-tutorials">
            <h4 class="column-header">
            RECENT TUTORIALS
        </h4>
            <div class="tutorial-items">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <img src="{% static 'images/angular-logo.png' %}">
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <h4>
                <a href="#">Angular JS</a>
            </h4>
                        <p>
                            <a href="#">by Paul Gilmore </a> | 9 days
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-items">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <img src="{% static 'images/bootstrap.png' %}">
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <h4>
                <a href="#">How to align items in bootstrap</a>
            </h4>
                        <p>
                            <a href="#">by Paul Gilmore </a> | 9 days
                        </p>
                    </div>
                </div>
            </div>
            <div class="tutorial-items">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <img src="{% static 'images/jquery.png' %}">
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <h4>
                <a href="#">Jquery</a>
            </h4>
                        <p>
                            <a href="#">by Paul Gilmore </a> | 9 days
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
