/* line 4, ../sass/event.scss */
.create-event {
  background: #fdfdfd;
  padding: 5%;
  border: 1px solid #efefef;
}
/* line 8, ../sass/event.scss */
.create-event .event-quote {
  margin-bottom: 50px;
}
/* line 11, ../sass/event.scss */
.create-event .form-control {
  -webkit-box-shadow: none;
  background: #fdfdfd;
  border-bottom: solid 1px #c1c1c1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding: 0;
  margin: 20px 0;
  color: #303030;
  font-family: "Montserrat-SemiBold", "sans-serif";
}
/* line 23, ../sass/event.scss */
.create-event .form-control.event-title {
  font-size: 26px;
}
/* line 26, ../sass/event.scss */
.create-event .form-control.desc-header {
  font-size: 20px;
}
/* line 29, ../sass/event.scss */
.create-event .form-control.price {
  padding: 26px 0;
}
/* line 32, ../sass/event.scss */
.create-event .form-control.category {
  font-family: "Lato-Regular", "sans-serif";
  border-right: none;
  margin: 0;
}
/* line 37, ../sass/event.scss */
.create-event .form-control.url {
  border-top: none;
  border-left: none;
  border-radius: 0px;
  border-right: none;
  margin: 0;
  font-family: "Lato-Regular", "sans-serif";
}
/* line 45, ../sass/event.scss */
.create-event .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c1c1c1;
}
/* line 50, ../sass/event.scss */
.create-event button {
  margin-top: 20px;
}
/* line 53, ../sass/event.scss */
.create-event .category-btn {
  background: none;
  border-right: none;
  border-top: none;
  border-bottom-right-radius: 0px;
}
/* line 59, ../sass/event.scss */
.create-event .url-btn {
  background: none;
  border: none;
}
/* line 62, ../sass/event.scss */
.create-event .url-btn a {
  color: #0288d1;
  text-decoration: none;
}
/* line 67, ../sass/event.scss */
.create-event .email-update {
  margin-top: 30px;
  color: #0288d1;
}
/* line 71, ../sass/event.scss */
.create-event .create-btn {
  background: #0288d1;
  color: #fff;
  border: none;
  height: 40px;
}
/* line 76, ../sass/event.scss */
.create-event .create-btn:hover {
  background: #0b75af;
  transition: 1s;
}

/* line 85, ../sass/event.scss */
.event-details .description {
  font-family: "Lato-Regular", "sans-serif";
  line-height: 150%;
  color: #888888;
  letter-spacing: 0.1px;
}
/* line 90, ../sass/event.scss */
.event-details .description h3 {
  color: #303030;
  margin: 20px 0;
}
/* line 95, ../sass/event.scss */
.event-details .form-control {
  border: #bcbcbc solid 1px;
  border-radius: 2px;
}
/* line 98, ../sass/event.scss */
.event-details .form-control:focus {
  box-shadow: none;
}
/* line 102, ../sass/event.scss */
.event-details #id_message {
  border: #bcbcbc solid 1px;
  border-radius: 2px;
  max-width: 100%;
  width: 100%;
  height: 54px;
}
/* line 109, ../sass/event.scss */
.event-details .header {
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563, #29323c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563, #29323c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  height: 300px;
  align-items: center;
  color: #fff;
  font-family: "Lato-Light", "sans-serif", "sans-serif";
  line-height: 150%;
  letter-spacing: 0.5px;
}
/* line 125, ../sass/event.scss */
.event-details .header .join-event {
  background: #ed145b;
  color: #fff;
  letter-spacing: 0.5px;
  width: 150px;
  border-radius: 2px;
}
/* line 131, ../sass/event.scss */
.event-details .header .join-event:active {
  border: none;
}
/* line 134, ../sass/event.scss */
.event-details .header .join-event:focus {
  border: none;
}
/* line 138, ../sass/event.scss */
.event-details .header img {
  width: 70px;
}
/* line 141, ../sass/event.scss */
.event-details .header h3 {
  line-height: 150%;
}
/* line 144, ../sass/event.scss */
.event-details .header h5 {
  margin-top: 20px;
}
/* line 146, ../sass/event.scss */
.event-details .header h5 a {
  color: #fff;
  text-decoration: none;
  font-family: "Lato-Regular", "sans-serif", "sans-serif";
}
/* line 153, ../sass/event.scss */
.event-details .header .social-icons a {
  margin: 0 1em;
  color: #fff;
}
/* line 159, ../sass/event.scss */
.event-details .event-content {
  background: #fdfdfd;
  padding: 5% 7%;
  border-radius: 5px;
  margin: 10px 0;
}
/* line 164, ../sass/event.scss */
.event-details .event-content .post {
  margin-top: 1em;
  background: #00bfa5;
  color: #fff;
  width: 100px;
}

/* line 173, ../sass/event.scss */
.avatar {
  display: block;
  width: 3em;
  float: left;
  margin: 0.2em 0 0;
}
/* line 178, ../sass/event.scss */
.avatar img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* line 185, ../sass/event.scss */
.comment-section {
  line-height: 150%;
}
/* line 187, ../sass/event.scss */
.comment-section .comment {
  margin: 20px 0;
}
/* line 190, ../sass/event.scss */
.comment-section .child-comment {
  margin: 20px 0em 20px 4em;
}
/* line 193, ../sass/event.scss */
.comment-section .close {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 100;
  font-size: 0.8em;
}
/* line 198, ../sass/event.scss */
.comment-section .content {
  display: block;
  margin-left: 4em;
}
/* line 201, ../sass/event.scss */
.comment-section .content a {
  color: #303030;
  font-weight: 700;
  text-decoration: none;
}
/* line 205, ../sass/event.scss */
.comment-section .content a:hover {
  transition: 1s;
}
/* line 208, ../sass/event.scss */
.comment-section .content a.favorite {
  color: #ed145b;
}
/* line 213, ../sass/event.scss */
.comment-section .metadata {
  color: rgba(0, 0, 0, 0.4);
  font-size: .875em;
  display: inline-block;
  margin-left: 1em;
}
/* line 218, ../sass/event.scss */
.comment-section .metadata span {
  display: inline-block;
  margin: 0 .5em 0 0;
}
/* line 224, ../sass/event.scss */
.comment-section .actions a {
  color: rgba(0, 0, 0, 0.4);
  font-size: .875em;
  font-weight: 200;
  margin: 0 10px;
}
/* line 229, ../sass/event.scss */
.comment-section .actions a:first-child {
  margin-left: 0px;
}
/* line 232, ../sass/event.scss */
.comment-section .actions a:hover {
  color: #1f62ae;
  transition: 1s;
}

/* line 241, ../sass/event.scss */
.event-sidebar .owl-carousel {
  background: none;
  margin: 0;
}
/* line 246, ../sass/event.scss */
.event-sidebar .participants img {
  border-radius: 5px;
}
/* line 250, ../sass/event.scss */
.event-sidebar .author {
  display: block;
  margin-left: 4em;
  line-height: 50%;
  margin-top: 1em;
}
/* line 255, ../sass/event.scss */
.event-sidebar .author a {
  color: #303030;
  font-weight: 700;
  font-size: 1.2em;
}
/* line 261, ../sass/event.scss */
.event-sidebar .about-author {
  margin: 3em 0;
}
/* line 263, ../sass/event.scss */
.event-sidebar .about-author p {
  font-style: italic;
  color: #666666;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
}
/* line 272, ../sass/event.scss */
.event-sidebar .form .form-control {
  border: #888888 solid 1px;
  border-radius: 2px;
}
/* line 275, ../sass/event.scss */
.event-sidebar .form .form-control:focus {
  box-shadow: none;
}
/* line 279, ../sass/event.scss */
.event-sidebar .form .subscribe-btn {
  color: #fff;
  background: #ed145b;
  border: solid 1px #ed145b;
}
