@font-face {
  font-family: 'Lato-Thin';
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url(../fonts/Montserrat-Hairline.otf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url(../fonts/Montserrat-UltraLight.otf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Georgia-Regular';
  src: url(../fonts/georgia.ttf);
}
/* line 46, ../sass/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../sass/_dashboard.scss */
.page {
  background: #f5f5f5;
  font-family: 'arial', 'san-serif';
  overflow: hidden;
}

/* line 7, ../sass/_dashboard.scss */
.column-header {
  font-size: 12px;
}

/* line 11, ../sass/_dashboard.scss */
.img-rounded {
  border-radius: 5px;
}

/* line 15, ../sass/_dashboard.scss */
.dashboard {
  margin-top: 20px;
}

/* line 20, ../sass/_dashboard.scss */
.user-profile .user-details {
  background: #fdfdfd;
  margin: 10px 0 5px;
  border: 1px solid #f1f1f1;
  padding: 10px;
}
/* line 25, ../sass/_dashboard.scss */
.user-profile .user-details img {
  width: 50px;
}
/* line 28, ../sass/_dashboard.scss */
.user-profile .user-details h3 {
  font-family: "Montserrat-Regular";
  margin-top: 0px;
}
/* line 31, ../sass/_dashboard.scss */
.user-profile .user-details h3 a {
  color: #666;
  font-size: 18px;
  text-decoration: none;
}
/* line 37, ../sass/_dashboard.scss */
.user-profile .user-details h4 {
  font-size: 1em;
  color: #666;
  font-family: "Montserrat-Light";
  margin-top: -5px;
}
/* line 44, ../sass/_dashboard.scss */
.user-profile .bio {
  font-family: 'arial', 'san-serif';
  line-height: 150%;
  margin-top: 10px;
  font-size: 1em;
  color: #666;
}
/* line 50, ../sass/_dashboard.scss */
.user-profile .bio a {
  text-decoration: none;
}
/* line 54, ../sass/_dashboard.scss */
.user-profile .feeds {
  color: #999;
  font-family: "Montserrat-Light";
  margin: 20px 0;
}
/* line 58, ../sass/_dashboard.scss */
.user-profile .feeds ul {
  list-style: none;
}
/* line 60, ../sass/_dashboard.scss */
.user-profile .feeds ul li {
  margin-left: -40px;
}
/* line 62, ../sass/_dashboard.scss */
.user-profile .feeds ul li a {
  display: block;
  color: #999;
  margin: 10px 0;
  text-decoration: none;
}
/* line 67, ../sass/_dashboard.scss */
.user-profile .feeds ul li a .fa-bookmark-o {
  width: 16px;
}
/* line 75, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items {
  margin: 10px 0 5px;
}
/* line 77, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items img {
  width: 40px;
  margin-top: 10px;
}
/* line 81, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items p {
  font-size: 12px;
}
/* line 84, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items h4 {
  font-size: 16px;
  font-family: "Montserrat-Light";
}
/* line 88, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items a {
  text-decoration: none;
}

/* line 95, ../sass/_dashboard.scss */
.profile-status {
  font-family: "Montserrat-Light";
  padding: 10%;
  background: #f8fcfa;
  color: #747575;
  font-size: 13px;
}
/* line 102, ../sass/_dashboard.scss */
.profile-status .progress {
  background-color: #e1f5fe;
  border-radius: 10px;
  height: 15px;
  -webkit-box-shadow: none;
  margin: 10px 0;
}
/* line 109, ../sass/_dashboard.scss */
.profile-status .alert-info {
  background: none;
}

/* line 114, ../sass/_dashboard.scss */
.tutorial-feed {
  overflow: hidden;
}
/* line 116, ../sass/_dashboard.scss */
.tutorial-feed img {
  width: 100%;
}
/* line 119, ../sass/_dashboard.scss */
.tutorial-feed .feed-header {
  margin-bottom: 20px;
}
/* line 121, ../sass/_dashboard.scss */
.tutorial-feed .feed-header ul {
  padding: 0;
  list-style: none;
}
/* line 124, ../sass/_dashboard.scss */
.tutorial-feed .feed-header ul li {
  display: inline-block;
}
/* line 128, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options {
  margin-top: 20px;
}
/* line 130, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style {
  border: none;
}
/* line 132, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:hover {
  background: #fff;
}
/* line 135, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:focus {
  outline: none;
  background: #fff;
}
/* line 139, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:active {
  border: none;
}
/* line 142, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:visited {
  border: none;
}
/* line 147, ../sass/_dashboard.scss */
.tutorial-feed .feed-header h3 {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 154, ../sass/_dashboard.scss */
.recent-activities {
  color: #313131;
}
/* line 156, ../sass/_dashboard.scss */
.recent-activities .activity-item {
  margin-top: 10px;
  background: #fdfdfd;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
/* line 163, ../sass/_dashboard.scss */
.recent-activities .activity-item img {
  width: 40px;
  margin-top: -20px;
}
/* line 167, ../sass/_dashboard.scss */
.recent-activities .activity-item .activity-details {
  margin-left: -20px;
}
/* line 169, ../sass/_dashboard.scss */
.recent-activities .activity-item .activity-details a {
  text-decoration: none;
  font-family: "Montserrat-Light";
}
/* line 173, ../sass/_dashboard.scss */
.recent-activities .activity-item .activity-details .time {
  color: #666;
  font-size: 12px;
}

/* line 181, ../sass/_dashboard.scss */
.item-container {
  height: 120vh;
  width: 100%;
  overflow: auto;
}
/* line 185, ../sass/_dashboard.scss */
.item-container .items {
  font-family: "Montserrat-Light";
  background: #fff;
  margin: 10px 0 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: -2px 1px 3px #f1f1f1;
  display: flex;
  align-items: center;
}
/* line 196, ../sass/_dashboard.scss */
.item-container .items .item-picture img {
  margin: 0 auto 18px;
  width: 80px;
}
/* line 200, ../sass/_dashboard.scss */
.item-container .items .item-picture a {
  text-decoration: none;
  color: #fff;
  background: #337ab7;
  padding: 5px 30px;
  border-radius: 4px;
}
/* line 207, ../sass/_dashboard.scss */
.item-container .items .item-picture .going-count {
  color: #999;
  font-size: 12px;
}
/* line 212, ../sass/_dashboard.scss */
.item-container .items .item-details {
  line-height: 150%;
}
/* line 214, ../sass/_dashboard.scss */
.item-container .items .item-details a {
  text-decoration: none;
}
/* line 216, ../sass/_dashboard.scss */
.item-container .items .item-details a :hover {
  color: #337ab7;
}
/* line 220, ../sass/_dashboard.scss */
.item-container .items .item-details h3 {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 150%;
}
/* line 226, ../sass/_dashboard.scss */
.item-container .items .item-details h6 {
  font-family: 'arial', 'san-serif';
  font-size: 12px;
  line-height: 150%;
}
/* line 231, ../sass/_dashboard.scss */
.item-container .items .item-details p {
  font-family: "OpenSans-Light";
  color: #999;
  font-size: 13px;
  line-height: 150%;
}
/* line 237, ../sass/_dashboard.scss */
.item-container .items .item-details .tutor {
  color: #999;
}
/* line 240, ../sass/_dashboard.scss */
.item-container .items .item-details .tutorial-detail {
  margin-left: -15px;
  color: #666;
}
/* line 244, ../sass/_dashboard.scss */
.item-container .items .item-details .date {
  color: #666;
  font-size: 15px;
}

/* line 252, ../sass/_dashboard.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 258, ../sass/_dashboard.scss */
.hire .popover {
  width: 100%;
}

/* line 264, ../sass/_dashboard.scss */
.tutor-background .tutor-details {
  line-height: 150%;
}
/* line 268, ../sass/_dashboard.scss */
.tutor-background .item-container .items {
  margin: 50px 20px;
}

/* line 275, ../sass/_dashboard.scss */
.badges h4 {
  font-size: 12px;
  color: #666;
}

/* line 3, ../sass/_header.scss */
.navbar {
  margin-bottom: 0;
}

/* line 7, ../sass/_header.scss */
.navbar-default {
  background: #fff;
  border: none;
  font-family: "Montserrat-Light";
  box-shadow: 2px 2px 2px #eeeeee;
}
/* line 12, ../sass/_header.scss */
.navbar-default .navbar-brand {
  color: #cf032b;
}
/* line 15, ../sass/_header.scss */
.navbar-default ul {
  list-style: none;
}
/* line 17, ../sass/_header.scss */
.navbar-default ul li {
  float: left;
}
/* line 19, ../sass/_header.scss */
.navbar-default ul li a {
  display: block;
  color: #666;
  margin: 20px;
}
/* line 23, ../sass/_header.scss */
.navbar-default ul li a .number {
  background: #a71212;
  color: #fff;
  border-radius: 30px;
  padding: 6px 8px;
  font-size: 12px;
}

/* line 34, ../sass/_header.scss */
.email-notification {
  width: 100%;
}
/* line 36, ../sass/_header.scss */
.email-notification .content {
  margin: 0;
}
/* line 39, ../sass/_header.scss */
.email-notification a {
  color: #a94442;
  text-decoration: none;
}

/* line 44, ../sass/_header.scss */
.affix {
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  transition: 0.5s;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 56, ../sass/_header.scss */
.affix-top {
  position: static;
  top: -50px;
}

/* line 61, ../sass/_header.scss */
.affix ~ .container-fluid {
  padding-top: 70px;
}

/* line 1, ../sass/_sign-up.scss */
.signup-page {
  background: #fff;
  background-size: cover;
}
/* line 4, ../sass/_sign-up.scss */
.signup-page .divider {
  border-left: solid 1px #666;
}
/* line 7, ../sass/_sign-up.scss */
.signup-page .signup {
  font-family: "Montserrat-Light";
  display: flex;
  height: 100vh;
  align-items: center;
}
/* line 12, ../sass/_sign-up.scss */
.signup-page .signup h1 {
  margin: 30px auto;
}
/* line 15, ../sass/_sign-up.scss */
.signup-page .signup input {
  font-family: "Montserrat-Light";
  background: #fff;
  border-radius: 10px;
  border: #d7d7d7 solid 2px;
  padding: 20px;
  font-size: 1em;
  margin: 20px 0;
  border-shadow: none;
  -webkit-box-shadow: none;
}
/* line 25, ../sass/_sign-up.scss */
.signup-page .signup input:focus {
  -webkit-box-shadow: none;
}
/* line 29, ../sass/_sign-up.scss */
.signup-page .signup ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a1a1a1;
}
/* line 33, ../sass/_sign-up.scss */
.signup-page .signup .email-signup {
  background: #055179;
}
/* line 37, ../sass/_sign-up.scss */
.signup-page .signup .signup-btn {
  background: #055179;
}
/* line 40, ../sass/_sign-up.scss */
.signup-page .signup .fb {
  background: #39579b;
  margin: 10px 0;
}
/* line 44, ../sass/_sign-up.scss */
.signup-page .signup button {
  font-family: "Lato-Regular";
  height: 45px;
  color: #fff;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 52, ../sass/_sign-up.scss */
.signup-page .signup button:hover {
  background: #2d7aa3;
  transition: 1s;
}
/* line 56, ../sass/_sign-up.scss */
.signup-page .signup button:focus {
  -webkit-box-shadow: none;
}
/* line 61, ../sass/_sign-up.scss */
.signup-page .signup .login-link p {
  margin-top: 10px;
}
/* line 63, ../sass/_sign-up.scss */
.signup-page .signup .login-link p a {
  text-decoration: none;
}

/* line 1, ../sass/_log-in.scss */
.login-page {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
}
/* line 6, ../sass/_log-in.scss */
.login-page .log-in {
  font-family: "Lato-Light";
  display: flex;
  height: 100vh;
  align-items: center;
}
/* line 11, ../sass/_log-in.scss */
.login-page .log-in h1 {
  color: #fff;
  font-size: 3em;
}
/* line 15, ../sass/_log-in.scss */
.login-page .log-in p {
  color: #fff;
  font-size: 1.5em;
  margin: 40px 0;
}
/* line 20, ../sass/_log-in.scss */
.login-page .log-in input {
  background: none;
  border-radius: 10px;
  border: #fff solid 1.5px;
  padding: 20px;
  font-size: 1.2em;
  color: #fff;
  font-family: "Lato-Light";
}
/* line 28, ../sass/_log-in.scss */
.login-page .log-in input:focus {
  -webkit-box-shadow: none;
}
/* line 32, ../sass/_log-in.scss */
.login-page .log-in ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
/* line 36, ../sass/_log-in.scss */
.login-page .log-in button {
  height: 45px;
  background: #055179;
  color: #fff;
  border-radius: 10px;
  border: solid #055179 2px;
  text-transform: uppercase;
}
/* line 44, ../sass/_log-in.scss */
.login-page .log-in button:hover {
  border: solid #2d7aa3 2px;
  background: #2d7aa3;
  transition: 1s;
}
/* line 49, ../sass/_log-in.scss */
.login-page .log-in button:focus {
  -webkit-box-shadow: none;
}
/* line 54, ../sass/_log-in.scss */
.login-page .log-in .login-links a {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
/* line 60, ../sass/_log-in.scss */
.login-page .log-in .login-links :first-child {
  float: left;
}
/* line 63, ../sass/_log-in.scss */
.login-page .log-in .login-links :last-child {
  float: right;
}

/* line 69, ../sass/_log-in.scss */
.divider {
  border-left: solid 1px #666;
}

/* line 1, ../sass/_profile.scss */
.profile-header-background {
  background: #fdfdfd;
  height: 160px;
  z-index: -1;
}

/* line 8, ../sass/_profile.scss */
.cover-photo {
  height: 300px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position-y: -330px;
}

/* line 17, ../sass/_profile.scss */
.profile-header {
  display: flex;
  align-items: center;
  z-index: 9;
  margin-top: -180px;
  font-family: "Montserrat-Light";
}
/* line 23, ../sass/_profile.scss */
.profile-header img {
  width: 100%;
}
/* line 28, ../sass/_profile.scss */
.profile-header .profile-background img {
  width: 200px;
  border-radius: 30px;
  padding: 15px;
  background: #fdfdfd;
}
/* line 35, ../sass/_profile.scss */
.profile-header .quote {
  font-family: "Georgia-Regular";
  color: #999;
  font-size: 24px;
}
/* line 41, ../sass/_profile.scss */
.profile-header h3 span {
  color: #999;
  font-size: 16px;
}

/* line 48, ../sass/_profile.scss */
.profile-content {
  margin: 20px 0;
  background: #fdfdfd;
  border-radius: 5px;
  padding: 5% 7%;
}
/* line 53, ../sass/_profile.scss */
.profile-content h4 {
  font-family: "Montserrat-Light";
}
/* line 56, ../sass/_profile.scss */
.profile-content p {
  font-family: "OpenSans-Regular";
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 20px 0;
}

/* line 64, ../sass/_profile.scss */
.btn-hire {
  width: 100%;
  background: #00bfa5;
  color: #fff;
  margin: 20px 0 0;
}
/* line 69, ../sass/_profile.scss */
.btn-hire:hover {
  color: #fff;
  transition: 1s;
  background: #00bfa5;
}
/* line 74, ../sass/_profile.scss */
.btn-hire:focus {
  outline: none;
  background: #00bfa5;
}
/* line 78, ../sass/_profile.scss */
.btn-hire:active {
  color: #fff;
  transition: 1s;
  background: #00bfa5;
}
/* line 83, ../sass/_profile.scss */
.btn-hire:visited {
  color: #fff;
  transition: 1s;
  background: #00bfa5;
}

/* line 90, ../sass/_profile.scss */
.owl-carousel {
  margin: 20px 0;
  background: #fdfdfd;
  padding: 10px;
}

/* line 97, ../sass/_profile.scss */
.portfolio .video {
  display: inline-block;
  margin: 20px 0;
}
/* line 100, ../sass/_profile.scss */
.portfolio .video .item {
  width: 220px;
  margin: 10px;
  float: left;
}
/* line 105, ../sass/_profile.scss */
.portfolio .video .item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
/* line 110, ../sass/_profile.scss */
.portfolio .video .item a {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  color: #777;
  text-transform: uppercase;
  margin: 10px 0 0;
  line-height: 150%;
}

/* line 122, ../sass/_profile.scss */
.feedback .feedback-content {
  font-family: "Montserrat-Light";
  margin: 50px 0;
  line-height: 150%;
  border-bottom: #ebebeb solid 1px;
}
/* line 127, ../sass/_profile.scss */
.feedback .feedback-content:last-child {
  border: none;
}
/* line 130, ../sass/_profile.scss */
.feedback .feedback-content a {
  text-decoration: none;
}
/* line 133, ../sass/_profile.scss */
.feedback .feedback-content .rating {
  color: #fdd835;
}
