@font-face {
  font-family: 'Lato-Thin';
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url(../fonts/Montserrat-UltraLight.otf);
}
/* line 29, ../sass/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../sass/_dashboard.scss */
.page {
  background: #fff;
  font-family: 'arial', 'san-serif';
  overflow: hidden;
}

/* line 7, ../sass/_dashboard.scss */
.column-header {
  font-size: 12px;
}

/* line 11, ../sass/_dashboard.scss */
.img-rounded {
  border-radius: 5px;
}

/* line 15, ../sass/_dashboard.scss */
.dashboard {
  margin-top: 20px;
}

/* line 21, ../sass/_dashboard.scss */
.user-profile .user-details img {
  width: 50px;
}
/* line 24, ../sass/_dashboard.scss */
.user-profile .user-details h3 {
  font-family: "Montserrat-Regular";
  margin-top: 0px;
}
/* line 27, ../sass/_dashboard.scss */
.user-profile .user-details h3 a {
  color: #666;
  font-size: 24px;
  text-decoration: none;
}
/* line 33, ../sass/_dashboard.scss */
.user-profile .user-details h4 {
  font-size: 1.2em;
  color: #666;
  font-family: "Montserrat-Light";
  margin-top: -5px;
}
/* line 40, ../sass/_dashboard.scss */
.user-profile .bio {
  font-family: 'arial', 'san-serif';
  line-height: 150%;
  margin-top: 10px;
  font-size: 1em;
  color: #666;
}
/* line 46, ../sass/_dashboard.scss */
.user-profile .bio a {
  text-decoration: none;
}
/* line 52, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items img {
  width: 40px;
  margin-top: 10px;
}
/* line 56, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items p {
  font-size: 12px;
}
/* line 59, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items h4 {
  font-size: 16px;
  font-family: "Montserrat-Light";
}
/* line 63, ../sass/_dashboard.scss */
.user-profile .recent-tutorials .tutorial-items a {
  text-decoration: none;
}

/* line 70, ../sass/_dashboard.scss */
.tutorial-feed {
  overflow: hidden;
}
/* line 72, ../sass/_dashboard.scss */
.tutorial-feed img {
  width: 100%;
}
/* line 75, ../sass/_dashboard.scss */
.tutorial-feed .feed-header {
  margin-bottom: 20px;
}
/* line 76, ../sass/_dashboard.scss */
.tutorial-feed .feed-header ul {
  padding: 0;
  list-style: none;
}
/* line 79, ../sass/_dashboard.scss */
.tutorial-feed .feed-header ul li {
  display: inline-block;
}
/* line 83, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options {
  margin-top: 20px;
}
/* line 85, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style {
  border: none;
}
/* line 87, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:hover {
  background: #fff;
}
/* line 90, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:focus {
  outline: none;
  background: #fff;
}
/* line 94, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:active {
  border: none;
}
/* line 97, ../sass/_dashboard.scss */
.tutorial-feed .feed-header .feed-options .filter-style:visited {
  border: none;
}
/* line 102, ../sass/_dashboard.scss */
.tutorial-feed .feed-header h3 {
  font-family: "Montserrat-Light";
}

/* line 110, ../sass/_dashboard.scss */
.recent-activities img {
  width: 100%;
  margin-top: 5px;
}
/* line 114, ../sass/_dashboard.scss */
.recent-activities .activity-details {
  margin-left: -20px;
}
/* line 116, ../sass/_dashboard.scss */
.recent-activities .activity-details a {
  text-decoration: none;
  font-family: "Montserrat-Light";
}

/* line 123, ../sass/_dashboard.scss */
.item-container {
  height: 75vh;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}
/* line 128, ../sass/_dashboard.scss */
.item-container .items {
  margin: 20px 0 20px;
}
/* line 130, ../sass/_dashboard.scss */
.item-container .items h3 {
  margin-top: 0px;
  font-size: 18px;
}
/* line 134, ../sass/_dashboard.scss */
.item-container .items .tutorial-detail {
  margin-left: -15px;
  color: #666;
}

/* line 141, ../sass/_dashboard.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 148, ../sass/_dashboard.scss */
.hire .popover {
  width: 100%;
}
/* line 151, ../sass/_dashboard.scss */
.hire .hire-btn {
  margin: 10% 0;
  padding: 6px 30%;
  color: #fff;
  background: #8fcc4d;
}
/* line 156, ../sass/_dashboard.scss */
.hire .hire-btn:focus {
  outline: none;
  background: #64a024;
}
/* line 160, ../sass/_dashboard.scss */
.hire .hire-btn:hover {
  background: #64a024;
  transition: 1s;
}

/* line 171, ../sass/_dashboard.scss */
.tutor-background .tutor-details {
  line-height: 150%;
}
/* line 175, ../sass/_dashboard.scss */
.tutor-background .item-container .items {
  margin: 50px 20px;
}

/* line 182, ../sass/_dashboard.scss */
.badges h4 {
  font-size: 12px;
  color: #666;
}

/* line 1, ../sass/_header.scss */
body {
  background: #fff;
}

/* line 4, ../sass/_header.scss */
.nav-bar {
  background: #f7f7f7;
  padding: 10px 0;
}

/* line 8, ../sass/_header.scss */
.banner {
  padding: 10px 0;
  background: #055179;
  font-family: "Montserrat-Light";
}
/* line 12, ../sass/_header.scss */
.banner a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* line 1, ../sass/sign-up.scss */
.signup-page {
  background: #fff;
  background-size: cover;
}
/* line 4, ../sass/sign-up.scss */
.signup-page .divider {
  border-left: solid 1px #666;
}
/* line 7, ../sass/sign-up.scss */
.signup-page .signup {
  font-family: "Montserrat-Light";
  display: flex;
  height: 100vh;
  align-items: center;
}
/* line 12, ../sass/sign-up.scss */
.signup-page .signup h1 {
  margin: 30px auto;
}
/* line 15, ../sass/sign-up.scss */
.signup-page .signup input {
  font-family: "Montserrat-Light";
  background: #fff;
  border-radius: 10px;
  border: #d7d7d7 solid 2px;
  padding: 20px;
  font-size: 1em;
  margin: 20px 0;
  border-shadow: none;
  -webkit-box-shadow: none;
}
/* line 25, ../sass/sign-up.scss */
.signup-page .signup input:focus {
  -webkit-box-shadow: none;
}
/* line 29, ../sass/sign-up.scss */
.signup-page .signup ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a1a1a1;
}
/* line 33, ../sass/sign-up.scss */
.signup-page .signup .email-signup {
  background: #055179;
  padding: 11.5px 32%;
}
/* line 37, ../sass/sign-up.scss */
.signup-page .signup .signup-btn {
  background: #055179;
  padding: 11.5px 41.59%;
}
/* line 42, ../sass/sign-up.scss */
.signup-page .signup .fb {
  background: #39579b;
  padding: 11.5px 27.5%;
  margin: 10px 0;
}
/* line 47, ../sass/sign-up.scss */
.signup-page .signup .google {
  background: #dd4b38;
  padding: 11.5px 24%;
  margin: 10px 0;
}
/* line 52, ../sass/sign-up.scss */
.signup-page .signup .twitter {
  background: #25a8e0;
  padding: 11.5px 24%;
}
/* line 58, ../sass/sign-up.scss */
.signup-page .signup button {
  color: #fff;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  margin: 10px 0;
}
/* line 64, ../sass/sign-up.scss */
.signup-page .signup button:hover {
  background: #2d7aa3;
  transition-duration: 1s;
}
/* line 68, ../sass/sign-up.scss */
.signup-page .signup button:focus {
  -webkit-box-shadow: none;
}
/* line 73, ../sass/sign-up.scss */
.signup-page .signup .login-link p {
  margin-top: 10px;
}
/* line 75, ../sass/sign-up.scss */
.signup-page .signup .login-link p a {
  text-decoration: none;
}

/* line 1, ../sass/_log-in.scss */
.login-page {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
}
/* line 6, ../sass/_log-in.scss */
.login-page .log-in {
  font-family: "Lato-Light";
  display: flex;
  height: 100vh;
  align-items: center;
}
/* line 11, ../sass/_log-in.scss */
.login-page .log-in h1 {
  color: #fff;
  font-size: 3em;
}
/* line 15, ../sass/_log-in.scss */
.login-page .log-in p {
  color: #fff;
  font-size: 1.5em;
  margin: 40px 0;
}
/* line 20, ../sass/_log-in.scss */
.login-page .log-in input {
  background: none;
  border-radius: 10px;
  border: #fff solid 1.5px;
  padding: 20px;
  font-size: 1.2em;
  color: #fff;
  font-family: "Lato-Light";
}
/* line 28, ../sass/_log-in.scss */
.login-page .log-in input:focus {
  -webkit-box-shadow: none;
}
/* line 32, ../sass/_log-in.scss */
.login-page .log-in ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
/* line 36, ../sass/_log-in.scss */
.login-page .log-in button {
  background: #055179;
  color: #fff;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  padding: 11.5px 44%;
}
/* line 43, ../sass/_log-in.scss */
.login-page .log-in button:hover {
  background: #2d7aa3;
  transition-duration: 1s;
}
/* line 47, ../sass/_log-in.scss */
.login-page .log-in button:focus {
  -webkit-box-shadow: none;
}
/* line 52, ../sass/_log-in.scss */
.login-page .log-in .login-links a {
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
/* line 58, ../sass/_log-in.scss */
.login-page .log-in .login-links :first-child {
  float: left;
}
/* line 61, ../sass/_log-in.scss */
.login-page .log-in .login-links :last-child {
  float: right;
}

/* line 67, ../sass/_log-in.scss */
.divider {
  border-left: solid 1px #666;
}
