{% load staticfiles profile %}

<!DOCTYPE html>
<html>

<head>
    <title>swift tutorial</title>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/image-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cropper/css/crop.css' %}">

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
        {% if user.expertise.exists %}
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard' %}">Swift Tutorial</a>
            </div>
        {% else %}
            <div class="navbar-header">
                <a class="navbar-brand" href="">Swift Tutorial</a>
            </div>
        {% endif %}
            <ul class="nav navbar-nav navbar-right">
            {% if user.expertise.exists %}
                <li>
                    <a href="{% url 'event_create' %}" class="tutorial-link"><i class="fa fa-plus" aria-hidden="true"></i> Start Teaching!</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i>Notifications <span class="number">12</span></a>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" type="button" id="user-profile" data-toggle="dropdown" aria-hashpop="true" aria-expanded="true">
                        <img src="{{ MEDIA_URL }}{{ user.profile_picture|get_image_url }}">
                    </a>
            {% else %}
                <li class="dropdown ">
                   <a href="#" class="dropdown-toggle" type="button" id="user-profile" data-toggle="dropdown" aria-hashpop="true" aria-expanded="true">
                        <img src="{{ MEDIA_URL }}{{ user.profile_picture|get_image_url }}">
                    </a>
            {% endif %}
                    <ul class="dropdown-menu user-dropdown" aria-labelledby="user-profile">
                    {% if user.expertise.exists %}
                        <li>
                            <a href="{% url 'profileme' %}" class="profile-link">

                                <h5>{{ user.get_full_name }}</h5>
                                <h6>view profile</h6></a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a href="#"> Messages</a>
                        </li>
                        <li>
                            <a href="#"> Settings</a>
                        </li>
                        <li>
                            <a href="#"> My Tutorials</a>
                        </li>
                        <li>
                            <a href="{% url 'bookmarks' %}"> My Bookmarks</a>
                        </li>
                        <li>
                            <a href="{% url 'event_create' %}" class="start-teaching">Start Teaching </a>
                            <img src="{% static 'images/surprise-icon.png' %}">
                        </li>
                        <li class="divider" role="separator"></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% if not request.user.is_activated %}
    <nav class="email-notification container-fluid">
        <div class="row ">
            <div class="col-md-12 alert alert-danger content">
                <div class="text-center ">
                    <p><strong>Wait up! Confirm your email.</strong> Check your emaill inbox or <strong><a href="{% url 'resend' %}">Resend email</a></strong></p>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="page">
        {% block profile_header %}{% endblock %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://use.fontawesome.com/5fbc41cc4a.js"></script>
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'cropper/js/jquery.cropit.js' %}"></script>
    <script src="{% static 'cropper/js/custom.js' %}"></script>
    <script src="{% static 'cropper/js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    
    {% block js %}
          <script src="{% static 'js/message.js' %}"></script>
          <script src="{% static 'js/images.js' %}"></script>
          <script src="{% static 'js/image-picker.js' %}"></script>
          <script src="{% static 'js/feedback.js' %}"></script>
          <script src="{% static 'js/bookmark.js' %}"></script>
          <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    {% endblock %}
</body>
</html>
