{% load staticfiles profile %}


<div class="event-content comment-section">
    <div class="comment">
        <a href="#" class="avatar">
            <img src="{{ profile.profile_picture|get_image_url }}">
        </a>
        <div class="content">
            <a href="#" class="pull-right close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="author">{{ message.get_full_name }}</a>
            <div class="metadata">
                <span class="date">{{ message.message_date | timesince }}</span>
            </div>
            <div class="text">
                <p>
                     {{ message.message }}
                </p>
            </div>

            <div class="actions">
                <div class="reply-list">
                </div>
                <a href="#" class="reply">Reply</a>
                <a href="#" class="favorite"><i class="fa fa-heart " aria-hidden="true"></i> <span>1</span> Favorite</a>
                <div class="comment-reply hide">                               
                    <form class="form-reply" action="{% url 'reply_list' event.id comment.id %}">
                        {% csrf_token %}
                        <input type="hidden" class="parent-id" value="{{ comment.id }}"/>
                            {{ form.comment }}
                        <div class="text-right">
                            <button class="btn post">Reply</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
