{% extends 'base.html' %}
{% load staticfiles profile %}


{% block content %}
{% with participants=event.get_participants %}
<div class="row dashboard">
    {% include 'includes/user_details.html' %}

    <div class="col-md-9 event-details">
        <div class="header">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="">{{ event.title }}</h3>
                        <a href="{% url 'event_join' event.id %}" class="btn join-event">JOIN EVENT</a>
                        <div class="event-date">
                            <h5>
                                Happening on <a href=""><strong>{{ event.start_date|date:"D, jS M" }} {{ event.start_time|time:"h:i A" }}</strong></a>
                            </h5>
                        </div>
                       <div class="social-icons">
                            <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                       </div>
        
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class=" event-content description">
                    <p>{{ event.info }}</p>
                </div>
                <form class="form-comments" method="post" action="{% url 'comments_list' event.id %}">
                {% csrf_token %}
                    <div class="event-content">
                        <label><i class="fa fa-pencil" aria-hidden="true"></i> Write something or ask a question</label>
                             {{ form.comment }}
                        <div class="text-right">
                            <button class="btn post" id="click">Post</button>
                        </div>
                    </div>
                </form>
                <div id="result">
                    {% for comment in comments %}                   
                    <div class="event-content comment-section">
                        <div class="comment-{{ comment.id }}">
                            <a href="#" class="avatar">
                            <img src="{{ comment.user.profile_picture|get_image_url }}">
                            </a>
                            <div class="content">
                                <a href="#" class="pull-right close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                <a href="#" class="author">{{ comment.user.get_full_name }}</a>
                                <div class="metadata">
                                    <span class="date">{{ comment.comment_date | timesince }}</span>
                                </div>
                                <div class="text">
                                    <p>
                                        {{ comment.comment }}
                                    </p>
                                <div class="actions">
                                    <div class="reply-list">
                                        {% for reply in comment.replies.all %}
                                        
                                            <div class="comment">
                                                <a href="#" class="avatar">
                                                    <img src="{{ reply.user.profile_picture|get_image_url }}">
                                                </a>
                                                <div class="content">
                                                    <a href="#" class="pull-right close"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    <a href="#" class="author">{{ reply.user.get_full_name }}</a>
                                                    <div class="metadata">
                                                        <span class="date">{{ reply.comment_date | timesince }}</span>
                                                    </div>
                                                    <div class="text">
                                                        <p>
                                                            {{ reply.comment }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a href="#" class="reply">Reply</a>
                                    <a href="#" class="favorite"><i class="fa fa-heart " aria-hidden="true"></i> <span>1</span> Favorite</a>
                                    <div class="comment-reply hide">                               
                                        <form class="form-reply" action="{% url 'reply_list' event.id comment.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" class="parent-id" value="{{ comment.id }}"/>
                                                {{ form.comment }}
                                            <div class="text-right">
                                                <button class="btn post">Reply</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>                 
                    {% endfor %}
                </div>  
            </div>
            
            <div class="col-md-4">
                <div class="event-sidebar">
                    <div class="owl-carousel participants">
                        {% for participant in participants %}
                        <div> <img src="{{ participant.user.profile_picture|get_image_url }}"> </div>
                        {% endfor %}
                    </div>
                    <a href="#" class="view-participants pull-right">View all participants</a>
                    <div class="about-author">
                        <h4>
                        AUTHOR
                        </h4>
                        <p>{{ event.educator.overview|truncatewords:"25" }}</p>
                        <div class="avatar">
                            <img src="{{ event.educator.profile_picture|get_image_url }}">
                        </div>
                        <div class="author">
                            <h5>
                                <a href="#">{{ event.educator.get_full_name|title }}</a>
                            </h5>
                            <h5>
                            {{ event.educator.position }}
                            </h5>
                        </div>
                    </div>
                    <h5>
                    Get e-mail updates
                    </h5>
                    <div class="form">
                        <form>
                            <div class="input-group">
                                <input type="" name="" class="subscribe form-control" placeholder="email@yourcompany.com" aria-describedby="subscribe">
                                <span class="input-group-btn">
                                <button class="btn subscribe-btn" type="button">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}