{% load staticfiles profile %}


<div class="comment">
    <a href="#" class="avatar">
        <img src="{{ reply.user.profile_picture|get_image_url }}">
    </a>
    <div class="content">
        <a href="#" class="pull-right close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="#" class="author">{{ reply.user.get_full_name }}</a>
        <div class="metadata">
            <span class="date">{{ reply.comment_date | timesince }}</span>
        </div>
        <div class="text">
            <p>
                {{ reply.comment }}
            </p>
        </div>
    </div>
</div>
